.additional-products__wrapper {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
  }
}

.additional-products__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.additional-products__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.additional-products__item {
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }

  @media (min-width: $tablet-width) {
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  @media (min-width: $desktop-width) {
    border-right: none;
    border-left: none;
  }
}

.additional-products__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 68px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    max-width: 1440px;
  }
}
