.bonus {
  min-width: 245px;
  height: 290px;
  padding: 59px 59px 43px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image:
    linear-gradient($gradient-bg 0%, $gradient-bg 100%),
    image-set(
      url("../../images/bonus-bg@1x.webp") type("image/webp") 1x,
      url("../../images/bonus-bg@2x.webp") type("image/webp") 2x,
      url("../../images/bonus-bg@1x.jpg") type("image/jpg") 1x,
      url("../../images/bonus-bg@2x.jpg") type("image/jpg") 2x,
    );
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 707px;
    height: 200px;
    text-align: left;
    justify-content: flex-end;
    align-items: center;
    place-self: center center;
    background-image:
      linear-gradient($gradient-bg 0%, $gradient-bg 100%),
      image-set(
        url("../../images/bonus-bg-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/bonus-bg-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/bonus-bg-tablet@1x.jpg") type("image/jpg") 1x,
        url("../../images/bonus-bg-tablet@2x.jpg") type("image/jpg") 2x,
      );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $desktop-width) {

    width: 245px;
    height: 288px;
    background-image:
      linear-gradient($gradient-bg 0%, $gradient-bg 100%),
      image-set(
        url("../../images/bonus-bg-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/bonus-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/bonus-bg-desktop@1x.jpg") type("image/jpg") 1x,
        url("../../images/bonus-bg-desktop@2x.jpg") type("image/jpg") 2x,
      );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 56px 42px 43px;
    text-align: center;
    align-items: flex-end;
  }
}

.bonus::before {
  content: "";
  width: 78px;
  height: 80px;
  position: absolute;
  background-image: url("../../icons/stack.svg#gift");
  background-repeat: no-repeat;
  background-position: center;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;
    top: 49%;
    left: 12%;
    transform: translate(-8%, -50%);

    @media (min-width: $desktop-width) {
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.bonus__text {
  font-size: 16px;
  line-height: 20px;
  color: $light-text-color;
  margin: 0;
  z-index: 1;
  position: relative;
  max-width: 332px;

  @media (min-width: $tablet-width) {
    width: 226px;
    margin: 0;
    padding-right: 65px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 161px;
  }
}
