.main-nav {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__list {
  @include list-reset;

  z-index: 60;
  background-color: $light-text-color;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    z-index: 10;
    align-items: center;
    width: auto;
    background-color: transparent;
    padding-right: 4px;
  }

  @media (min-width: $desktop-width) {
    max-width: 650px;
    padding-right: 0;
  }
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid $border-light;

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 34px;

    @media (min-width: $desktop-width) {
      margin-left: 35px;
    }
  }
}

.main-nav__link {
  @include link-reset ($second-text-color);

  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
  padding: 22px 20px 24px;
  z-index: 5;
  transition: opacity 200ms ease-in-out;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 12px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: $second-dark;
    padding: 15px 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--current {
  position: relative;
  pointer-events: none;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $bg-theme;
      bottom: 1;
      left: 0;
      right: 0;
    }
  }
}

.main-nav__link--index {
  @media (min-width: $desktop-width) {
    color: $light-text-color;
  }
}

.main-nav__link--current.main-nav__link--index::after {
  @media (min-width: $desktop-width) {
    background-color: $light-text-color;
  }
}


.main-nav__link--current.main-nav__link--catalog::after {
  @media (min-width: $tablet-width) {
    bottom: 3;
  }

  @media (min-width: $desktop-width) {
    bottom: 1;
  }
}

.main-nav__toggle {
  width: 24px;
  top: 18px;
  right: 21px;
  height: 24px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle:hover,
.main-nav__toggle:focus-visible {
  opacity: 0.5;
}

.main-nav__toggle:active {
  opacity: 0.7;
}

.main-nav--closed .main-nav__list {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 50%;
  right: 0;
  background-color: $second-text-color;
  box-shadow: 0 -8px 0 0 $second-text-color, 0 8px 0 0 $second-text-color;
}

.main-nav--opened .main-nav__toggle::after,
.main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 1px;
  background-color: $second-text-color;
  right: 0;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__list {
  position: absolute;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $max-mobile-width) {
    display: block;
  }
}
