.stats {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 32px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    gap: 43px;
    max-width: 500px;
  }
}

.stats__item {
  position: relative;
}

.stats__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $second-text-color;
  text-transform: uppercase;
  display: block;
  min-width: 124px;
  padding: 13px 18px 17px;
  border: 1px solid $border-color;
  border-radius: 4px;


  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 16px 19px;
    min-width: 162px;
  }
}

.stats__desc {
  font-size: 12px;
  line-height: 12px;
  padding: 0 14px;
  display: block;
  width: 87px;
  position: absolute;
  top: 47px;
  right: 18px;
  background-color: $bg-light-theme;


  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    min-width: 77%;
    background-color: $light-text-color;
    text-align: center;
    margin: 0;
    padding: 0;
    bottom: -4px;
    top: auto;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }

  &--time {
    @media (min-width: $tablet-width) {
      box-shadow: -10px 0 0 0 $light-text-color, 10px 0 0 0 $light-text-color;
    }

    @media (min-width: $desktop-width) {
      box-shadow: -10px 0 0 0 $basic-grey, 10px 0 0 0 $basic-grey;
    }
  }
}

.stats__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $second-text-color;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 20px;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 25px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 67px;
  }
}
